*{
    margin: 0;
    padding:0;
    text-align: center;
    
}

h1{
    background-color:#081b31;
    color:white;
    height:5rem;
    text-align: center;
    line-height: 5rem;
}
.choice:hover{
    opacity: 0.5; /* picture pai jab jai tu wo thori light ho jati hai*/
    cursor: pointer;/*arrow sa hand bannay k lia*/
    background-color: #081b31;
}
.choice{
    height:160px;
    width:160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
img{
    height: 150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap:3rem;
}
.score-board{
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 2rem;
margin-top:1rem ;
gap:7rem;
}
#user-score,#comp-score{
   font-size: 4rem;
}
.msg-conatiner{
    margin-top: 5rem;
}

#msg{
    
background-color: #081b31;
color:#fff;
font-size: 2rem;
display: inline;
padding: 1rem;
border-radius: 1rem;

}
.reset:hover{
   
    cursor: pointer;/*arrow sa hand bannay k lia*/
    background-color: red;
}
.reset{

background-color: #081b31;
color:#fff;
font-size: 1rem;
padding: 1rem;
border-radius: 1rem;
display: inline;
position: relative;
top:5px;
}
.re{
    text-align: right;
    
}
    